[submodule "pelican-fontawesome"]
	path = pelican-fontawesome
	url = https://github.com/kura/pelican-fontawesome.git
[submodule "pelican_youtube"]
	path = pelican_youtube
	url = https://github.com/kura/pelican_youtube.git
[submodule "pelican_vimeo"]
	path = pelican_vimeo
	url = https://github.com/kura/pelican_vimeo.git
[submodule "pin_to_top"]
	path = pin_to_top
	url = https://github.com/Shaked/pin_to_top.git
[submodule "pelicanthemes-generator"]
	path = pelicanthemes-generator
	url = https://github.com/badele/pelicanthemes-generator
[submodule "pelican-page-order"]
	path = pelican-page-order
	url = https://github.com/akhayyat/pelican-page-order.git
[submodule "pelican-page-hierarchy"]
	path = pelican-page-hierarchy
	url = https://github.com/akhayyat/pelican-page-hierarchy.git
[submodule "pelican-langcategory"]
	path = pelican-langcategory
	url = https://github.com/CNBorn/pelican-langcategory.git
[submodule "pelican-jinja2content"]
	path = pelican-jinja2content
	url = https://github.com/joachimneu/pelican-jinja2content.git
[submodule "pelican-open_graph"]
	path = pelican-open_graph
	url = https://github.com/whiskyechobravo/pelican-open_graph.git
[submodule "replacer"]
	path = replacer
	url = https://github.com/narusemotoki/replacer
[submodule "pelican-toc"]
	path = pelican-toc
	url = https://github.com/ingwinlu/pelican-toc
[submodule "post_revision"]
	path = post_revision
	url = https://github.com/jhshi/pelican.plugins.post_revision
[submodule "linkclass"]
	path = pelican-linkclass
	url = https://github.com/rlaboiss/pelican-linkclass
[submodule "mboxreader"]
	path = pelican-mboxreader
	url = https://github.com/TC01/pelican-mboxreader
[submodule "pelican-version"]
	path = pelican-version
	url = https://github.com/Shaked/pelican-version
