[submodule "pelican-fontawesome"]
	path = pelican-fontawesome
	url = https://github.com/kura/pelican-fontawesome.git
[submodule "pelican_youtube"]
	path = pelican_youtube
	url = https://github.com/kura/pelican_youtube.git
[submodule "pelican_vimeo"]
	path = pelican_vimeo
	url = https://github.com/kura/pelican_vimeo.git
[submodule "pin_to_top"]
	path = pin_to_top
	url = https://github.com/Shaked/pin_to_top.git
[submodule "pelicanthemes-generator"]
	path = pelicanthemes-generator
	url = https://github.com/badele/pelicanthemes-generator
[submodule "replacer"]
	path = replacer
	url = https://github.com/narusemotoki/replacer
[submodule "pelican-toc"]
	path = pelican-toc
	url = https://github.com/ingwinlu/pelican-toc
[submodule "post_revision"]
	path = post_revision
	url = https://github.com/jhshi/pelican.plugins.post_revision
[submodule "pelican-version"]
	path = pelican-version
	url = https://github.com/Shaked/pelican-version
